.articles {
	$gap:em(24px);
	--g:24px;
	gap:$gap;
	padding-top: em(11px);

	.article {
		border-radius: $border-radius-s;
		overflow: hidden;
		box-shadow: $box-shadow-s;

		&__img {
			width: 100%;
			height: em(200px);
			object-fit: cover;
			display: block;
		}

		&__text {
			background-color: $white;
			padding: em(30px);
		}

		&__autor {
			$new-fs:10px;
			display: inline-block;
			font-size: em($new-fs);
			color:$grayish-blue;
			margin-bottom: em(15px,$new-fs);
			display: block;
		}

		&__heading {
			display:inline-block;
			@include respond(laptop) {
				transition: color .3s ease-in-out;

				&:hover {
					color: $lime-green;
				}
			}
		}

		&__para {
			$new-fs:12px;
			$nb-lines:3;

			/*simple calculation for 3 line height*/

			height:em($new-fs * 1.5 * $nb-lines,$new-fs);
			overflow-y: scroll;

			@include respond(tab-land) {
				$nb-lines:4;
			}
		}

		@include respond(tab-land) {
			flex-basis: calc(50% - var(--g) + var(--g) / 2);
		}

		@include respond(laptop) {
			flex-basis: calc(25% - var(--g) + var(--g) / 4);
		}
	}

}