.feat {

	$gap:36px;

	--g:36px;
		
	&-container {
		gap:$gap;
		padding-top: em(60px);
	}
	

	&__img {
		width: em(70px);
		height: em(70px);
		margin-bottom: em(30px);
	}

	&__para {
		$new-fs:$fs;
		$nb-lines:4;

		text-align: justify-all;
		height:em($new-fs * 1.5 * $nb-lines,$new-fs);
			overflow-y: scroll;
		overflow-y: scroll;
	}

	@include respond(tab-land) {
		flex-basis: calc(50% - var(--g) + var(--g) / 2);
	}

	@include respond(laptop) {
		flex-basis: calc(25% - var(--g) + var(--g) / 4);
	}
}