/* start footer section rules */

.footer {
	background-color: $dark-blue;
	padding: em(44px) 0;

	.left {
		&-left {

			flex-direction:column;
			align-items:center;



			&__logo {
				width: em(140px);
				height: em(22px);
				margin-bottom:em(32px);
				@include respond(tab-land) {
					margin-bottom:0;
				}
			}

			&__social {	
				gap:em(14px);
				margin-bottom:em(40px);


				img {
					width: em(24px);
					height: em(24px);
				}

				@include respond(tab-land) {
					margin-bottom:0;
				}
			}

			@include respond(tab-land) {
				align-items:flex-start;
			}
		}

		&-right {

			color: $white;
			text-transform: capitalize;

			ul {
			 	display:flex;
			 	flex-direction:column;
			 	justify-content:space-between;
			 	flex-grow:1;

			 	a {
			 		display:block;
			 	}
			}
			ul:not(:last-child),
			ul>li:not(:last-child) {
				margin-bottom:em(20px);

				@include respond(tab-land) {
					margin-bottom:0;
				}
			}
		}
	}

	.right {
		flex-direction:column;

		&__paragraph {
			margin-top:em(30px);

			
		}
		&__btn {
			@include respond(tab-land) {
				margin-top:0;
			}
		}

		@include respond(tab-land) {
			align-items:flex-end;
		}
	}
}

/* end footer section rules */


