/* start header rules */

	.header {
		position: fixed;
		background-color: $white;
		z-index: $z-index-m;
		width: 100vw;
	}

	.header__logo {
		min-width:em(140px);
		min-height:em(20px);
		padding:em(22px) 0;

		@include respond(tab-land) {
			padding:em(32px) 0;
		}
	}

	.header__btn {
		display: none;
		
		@include respond(tab-land) {
			display: block;
		}
	}

/* end header rules */