/* start header rules */

	.header {
		position: fixed;
		background-color: var(--white);
		z-index: 2;
		width: 100vw;
	}

	.header > * {
		position: relative;
		padding: calc(22 / var(--fs) * 1em) 0;
	}

	.header__logo {
		width: calc(140 / var(--fs) * 1em);
		height: calc(20 / var(--fs) * 1em);
	}

	.header__nav {
		position: absolute;
		top: 100%;
		left: 0;

		width: 100%;
		border-radius: .3em;
		z-index: 1;
		background-color: var(--white);

		transform: translateY(var(--container-side-size)) scale(0);
		transform-origin: center center;
		transition: transform .3s ease-in-out;
	}

	.header__list {
		flex-direction: column;
		padding: calc(35 / var(--fs) * 1em);
	}

	.header__item {
		color: var(--dark-blue);
		--new-fs:18;
		font-size: calc(var(--new-fs) / var(--fs) * 1em);
		text-transform: capitalize;
	}

	.header__item:not(:last-child) {
		margin-bottom: calc(27 / var(--new-fs) * 1em);
	}

	.header__item a {
	}

	.header__btn {
		margin-top: 0;
		display: none;
	}

	.header__burger {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width:calc(24 / var(--fs) * 1em);
		height: calc(11 / var(--fs) * 1em);

		cursor: pointer;
	}

	.header__burger span {
		display:block;

		height:9.09090909%;

		background-color:var(--dark-blue);

		transition:transform,opacity, .2s ease-in-out;
	}

	#cbx {
		display: none;
	}

	#cbx:checked + label.header__burger > span:first-of-type {
		transform: translateY(500%) rotate(45deg);
	}

	#cbx:checked + label.header__burger > span:nth-of-type(2) {
		transform: translateX(-50%);
		opacity:0;
	}

	#cbx:checked + label.header__burger > span:last-of-type {
		transform: translateY(-500%) rotate(-45deg);
	}

	#cbx:checked ~ .header__nav {
		transform: translateY(var(--container-side-size)) scale(1);
	}

	

	@media screen and (min-width: 780px) {
		.header > *{
			padding: 0;
		}

		.header__nav,
		.header__btn {
			display: block;
		}

		.header__nav {
			position: static;

			width: auto;
			border-radius: 0;

			transform: translateY(0) scale(1);

		}

		.header__list {
			flex-direction: row;
			padding: 0;
		}

		.header__item {
			position: relative;
			color: var(--grayish-blue);

			padding: calc(22 / var(--fs) * 1em) 0;

			transition: background,opacity, .3s ease-in-out;
		}

		.header__item:not(:last-child) {
			margin: 0;
			margin-right:calc((32 / var(--fs)) * 1em);
		}

		.header__item::after {
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			width: 100%;
			height: calc(4 / var(--fs) * 1em);
			background: var(--gradient-2);
			opacity: 0;
		}

		.header__item:hover {
			color: var(--dark-blue);
		}

		.header__item:hover::after {
			opacity: 1;
		}

		.header__burger {
			display: none;
		}

		#cbx:checked ~ .overlay {
			opacity: 0;
		}

		#cbx:checked ~ .header__nav {
			transform: translateY(0) scale(1);
		}
	}

/* end header rules */