/* start hero section rules */

	.hero {
		& > .container {
			@include respond(tab-land) {
				margin-left: $container-side-size;
			}
		}
	}

	.hero__img {
		position: relative;
		height: em(280px);
		width:100%;
		background:url('../../images/bg-intro-mobile.svg') no-repeat center center / cover;

		@include respond(tab-land) {
			height:em(658px);
			order: 2;
			background:url('../../images/bg-intro-desktop.svg') no-repeat left center / auto;
		}
	}

	.hero__img::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: $container-size;
		height: 100%;

		transform: translateX(-50%);

		background: url('../../images/image-mockups.png') no-repeat center bottom / cover;

		@include respond(tab-land) {
			left: 0;
			width: 100%;
			height: 120%;

			transform: translateX(0);

			background: url('../../images/image-mockups.png') no-repeat left bottom / auto;
		}
	}

	.hero__text {
		padding:em(88px) 0;

		@include respond(tab-land) {
			max-width:20em;
			padding:0;
		}
	}

/* end hero section rules */