/* start typographie rules */

	body {
		font-family: var(--ff);
		font-size: var(--fs);
	}

	a {
		font-size: inherit;
		text-decoration: none;
		color: inherit;
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertory,
	.heading-fourty,
	.paragraph {
		--new-fs:auto;
		font-size: calc(var(--new-fs) / var(--fs) * 1em);
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertory,
	.heading-fourty {
		color: var(--dark-blue);
		text-transform: capitalize;
		line-height: 1.3;
		font-weight: var(--fw-m);

		/**/
		margin-bottom: calc(25 / var(--new-fs) * 1em);
	}

	.heading-primary {
		--new-fs:36;
	}

	.heading-secondary {
		--new-fs:30;
	}

	.heading-tertory {
		--new-fs:19;
		--nb-lines:2;

		height: calc((var(--new-fs) * 1.5 * var(--nb-lines)) / var(--new-fs) * 1em);
		overflow-y: scroll;
	}

	.heading-fourty {
		--new-fs:15;

		margin-bottom: calc(13 / var(--new-fs) * 1em);
	}

	.paragraph {
		--new-fs:15;

		color: var(--grayish-blue);
		font-weight: var(--fw-s);
		line-height: 1.5;
	}

/* end typographie rules */