/* start utilities rules */


	.flex {
		display: flex;
	}

	.jc-c {
		justify-content: space-between;
	}

	.ai-c {
		align-items: center;
	}

	.fd-c {
		flex-direction: column;

		@include respond(tab-land) {
			flex-direction: row;
		}
	}

	.ta-c {
		text-align: center;

		@include respond(tab-land) {
			text-align:left;
		}
	}

	.container {
		position:relative;
		width:$container-size;
		margin:0 auto;
	}

	.fix {
		height: 64.11px;

		@include respond(tab-land) {
			height: 84.14px;
		}
	}

	.mt-s {
		margin-top:em(34px);
	}

/* end helper rules */